/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.2)), url("/images/brett-zeck-eyfMgGvo9PA-unsplash-xl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

nav {
    color: white;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

.social {
    font-size: 1.4rem;
}

.social i {
    padding-right: .25rem;
    color: white;
}

.social i:hover,
.social i:focus {
    color: rgba(255, 255, 255, .6);
}

.hero {
    color: white;
}

img.img-fluid {
    max-width: 440px;
    width: 100%;
}

.heroText {
    padding-bottom: 2rem;
}

.cart {
    background: white;
    display: flex;
    flex-direction: column;
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 365px;
    padding: 0;
    transform: translateX(100%);
    transition: transform 0.15s ease-in-out;
    z-index: 9999;
}

.showCart {
    transform: translateX(0);
}

.cart .cartHeader {
    padding: .50rem;
}

.cart .lineItems {
    flex: 1 0 auto;
}

.cart .lineItem {
    padding: .50rem;
}

.cart .lineItemThumbnail {
    max-width: 100px;
    background: grey;
    border-radius: 10px;
}

.cart .incrementQuantity,
.cart .decrementQuantity {
    min-width: 35px;
}

.cart .quantity {
    max-width: 40px;
    padding: 0;
}

.cart .cartFooter {
    padding: .50rem;
}


