/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh; 
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.2)), url("/images/brett-zeck-eyfMgGvo9PA-unsplash-xl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background: white;
}

main {
    padding-bottom: 5rem;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

.social {
    font-size: 1.4rem;
}

.social i {
    padding-right: .25rem;
    color: black;
}

.social i:hover,
.social i:focus {
    color: rgba(0, 0, 0, .6);
}

.hero {
    color: white;
}

img.img-fluid {
    max-width: 440px;
    width: 100%;
}

.heroText {
    padding-bottom: 2rem;
}

.cart {
    /* display: none; */
    background: white;
    color: black;
}

.cart .lineItemThumbnail {
    max-width: 100px;
    background: grey;
    border-radius: 10px;
}

.cart .incrementQuantity,
.cart .decrementQuantity {
    min-width: 35px;
}

.cart .quantity {
    max-width: 40px;
    padding: 0;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

@media only screen and (max-width: 767px) {
    .container {
        min-width: 100%;
        width: 100%;
    }
}
